<!-- age verify modal -->
<!-- the moustaches may be crashing the browser... https://stackoverflow.com/questions/24902709/handlebars-parse-error-while-compiling-template?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa -->

<div id="verify">
    <div class="age">
        <form>
            <h2>Please Verify Your Age</h2>
            <select name="month" id="month">
                <option value="0">January</a>
                <option value="1">February</a>
                <option value="2">March</a>
                <option value="3">April</a>
                <option value="4">May</a>
                <option value="5">June</a>
                <option value="6">July</a>
                <option value="7">August</a>
                <option value="8">September</a>
                <option value="9">October</a>
                <option value="10">November</a>
                <option value="11">December</a>
            </select>
            <select name="day" id="day">
              <option value="1">1</a>
              <option value="2">2</a>
              <option value="3">3</a>
              <option value="4">4</a>
              <option value="5">5</a>
              <option value="6">6</a>
              <option value="7">7</a>
              <option value="8">8</a>
              <option value="9">9</a>
              <option value="10">10</a>
              <option value="11">11</a>
              <option value="12">12</a>
              <option value="13">13</a>
              <option value="14">14</a>
              <option value="15">15</a>
              <option value="16">16</a>
              <option value="17">17</a>
              <option value="18">18</a>
              <option value="19">19</a>
              <option value="20">20</a>
              <option value="21">21</a>
              <option value="22">22</a>
              <option value="23">23</a>
              <option value="24">24</a>
              <option value="25">25</a>
              <option value="26">26</a>
              <option value="27">27</a>
              <option value="28">28</a>
              <option value="29">29</a>
              <option value="30">30</a>
              <option value="31">31</a>
            </select>

            <select name="year" id="year">
            </select>

            <br> &nbsp; <br>

            <input type="submit" value="Submit">

        </form>

        <div class="denied">
            Sorry, but you do not meet the minimum age requirement to view this website.
        </div>

    </div>

</div>
<!-- age verify modal end -->


<!-- Page Content -->

<div class="container">

  <h1 class="my-4 text-center text-lg-left">Blank Space Gallery</h1>

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imgURL}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imageURL}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imageURl}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imageURL}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imageURL}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imageURL}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imageURL}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imageURL}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imageURL}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imageURL}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imageURL}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        {{#each this.imageURL}}
       {{#unless this.nsfw}}
      <img class="img-fluid img-thumbnail"
        src="{{imgURL}}" alt="">
         {{/unless}}
         {{/each}}
      </a>
    </div>
  </div>

</div>
